.menu__container {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 999;
  background-color: white;
  width: 100%;
  height: 50px;

  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0);
}

.menu__logo > img {
  margin-left: 30px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}

.menu__itens {
  display: flex;
  margin: auto;
  align-items: center;
}

.menu__itens > ul {
  display: flex;
  list-style-type: none;
}

.menu__itens > ul > li {
  padding: 5px;
  margin-right: 5px;
}

.menu__itens > ul > li > a {
  text-decoration: none;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
}

.menu__itens > ul > li > a:hover {
  color: blue;
  font-size: 500;
  
}
